* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #121212;
  color: #f0f0f0;
  padding: 48px;
}

.container {
  padding: 0 72px;
  margin-bottom: 36px;
}

// gradient: #00c900 #0099ff

.carousel-container {
  position: relative;
  margin: 0 0 48px 0;
  max-height: 249px;
  padding: 0 64px + 8px;
  overflow: hidden;
}

.carousel-cell {
  position: relative;
  height: 245px;  
  border-radius: 7px;
  margin: 0 10px;
  width: 70%;
  &:active {
    cursor: grabbing;
  }
}

.carousel-gradient {
  // height: 100%;
  // background: linear-gradient(135deg, #00c900, #0099ff);
  // padding: 2px;
}

.carousel-overlay {
  height: 100%;
  background: linear-gradient(to bottom, rgba(18,18,18,0.5) 0%,rgba(0,0,0,0) 100%);
}

.carousel-content {   
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  position: absolute;
  padding: 0 40px;
  
  h1, h2, p {
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
  }

  h2 {
    margin: 0;
    font-size: 36px;
  }

  h3 {
    margin: 0;
    font-size: 19px;
    font-weight: normal;
  }
}

.carousel-button-back {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 64px;
  height: 64px;
  border-radius: 64px;
  border: none;
  font-size: 32px;

  &[disabled] {
    background: none;
  }
}

.carousel-button-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 64px;
  height: 64px;
  border-radius: 64px;
  border: none;
  font-size: 32px;

  &[disabled] {
    background: none;
  }
}

.carousel-dots {
  position: absolute;
  right: 24px + 80px;
  bottom: 16px;
  transform: translateY(-50%);
}

.carousel__dot {
  background: #737373;
  border: none;
  height: 2px;
  width: 16px;

  & + & {
    margin-left: 4px;
  }
  
  &--selected {
    height: 4px;
    background: #f3f3f3;
  }
}